@model WebOS.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeRazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeRazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone_fixo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone_fixo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
